/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'); */


/* -- COMMON ------------------ */
:root{
  --header-bg-color: rgb(244, 243, 243);
  --header-height: 50px;
  --biggest: max(100vh, 100vw);
}
:root, html{
  font-size:10px;
}
html{
  scroll-behavior: smooth;
}
html[lang="ja"] [lang="en"]:not(.js-switch-lang),
html[lang="en"] [lang="ja"]:not(.js-switch-lang),
html[lang="ja"] .js-switch-lang[lang="ja"],
html[lang="en"] .js-switch-lang[lang="en"]{
  display:none !important;
}
body{
  font-size:1.6rem;
  margin:0;
  padding:0;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x:hidden;
  background:grey;
  color:black;
}
@media (prefers-color-scheme: dark) {
  body { 
    background: black; 
    color:white;
  }
}

/* -- resets -- */
h1, h2, h3, h4, h5, h6, p{
  margin:0;
}
rt{
  text-align:center;
  font-weight:400;
}
img{
  max-width:100%;
  height:auto;
  display:block;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}


/* -- HEADER ------------------ */

/* -- global-aside -- */
.global-aside{
  position: absolute;
  right: 0;
  z-index: 2;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 0 20px 0;
  width: fit-content;
}
.global-aside a {
  font-size: 5rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  writing-mode: tb-rl;
  text-orientation: unset;
  position: sticky;
  right: 20px;
  top: 10px;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  transition: color 0.3s;
}
.global-aside a:hover {
  color: rgba(0, 0, 0, 0.4);
}


/* -- global-header -- */
.global-header{
  position: absolute;
  left: 0;
  z-index: 2;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 0 20px 10px;
}

/* -- global-nav -- */
.global-nav{
  display: block;
  position: sticky;
  left: 0;
  top: 0;
}
.global-nav ul{
  position:relative;
  z-index:2;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0 10px;
  align-items:flex-start;
  justify-content:flex-start;
}
.global-nav ul li {
  display: flex;
  position: relative;
  justify-content: flex-start;
  transition: transform 0.1s, opacity 0.1s;
  transform-origin: left center;
  font-weight: 100;
  opacity: 0.6;
  width: 100%;
}
.global-nav:hover ul li{
  opacity: 0.2;
}
.global-nav ul li a,
.global-nav ul li button,
.global-nav ul li span{
  text-decoration: none;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 100;
  display: block;
  white-space: pre;
  margin: 2px 0;
  text-transform: capitalize;
}
html[lang="ja"] .global-nav ul li a,
html[lang="ja"] .global-nav ul li span{
  font-weight: 400;
  letter-spacing:-3px;
}
html[lang="en"] .global-nav ul li button{
  font-weight: 400; 
}
.global-nav ul li:focus-within,
.global-nav ul li:hover{
  transform:scale(2);
  text-shadow:0 0 3px;
  opacity:1;
  z-index:2;

}
.global-nav ul li a:focus{
  outline:none;
}
.global-nav ul li.is-active{
  opacity:1;
}
.global-nav:hover ul li.is-active{
  opacity: 0.3;
}
.global-nav:hover ul li.is-active:hover{
  opacity: 1;
}
.global-nav ul li:hover ul{
  display:flex;
}
.global-nav ul li ul{
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index:-1;
  padding-left:15px;
}
.global-nav:hover ul li ul li{
  opacity:1;
}
.global-nav ul li:hover ul li:hover{
  transform:scale(2);
}
.global-nav ul li ul li a{
  font-size: 2.2rem;
  font-size: 1.2rem;
  width: fit-content;
  color:rgba(255, 255, 255, 0.5);
}
.global-nav ul li ul li:hover a{
  color:#fff;
}


/* -- TOP HERO ------------------ */
.hero{
  width:100%;
  height:100vh;
  background-image:url(/assets/img/hero.webp);
  background-image:url(/assets/img/fullwidth.webp);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  position:relative;
}
.hero h1{
  font-weight: 900;
  color: #0875cd;
  font-size: 10.2vw;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding:2vw;
  text-shadow: 0 0 3px;
}
.hero h1 span{
  mix-blend-mode: color-burn;
  color:#009688;
  opacity:0;
  -webkit-animation: fadeIn 1.2s ease-out 0.4s 1 normal forwards running;
  animation: fadeIn 1.2s ease-out 0.4s 1 normal forwards running;
}
.hero h1 span:first-of-type{
  color: #2196f3;
  mix-blend-mode: multiply;
  font-size: 5vw;
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}



/* -- CONTENTS ------------------ */
.contents{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  position:relative;
}


.top-bloc{
  text-align: center;
  min-height:100vh;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 25rem auto; */
}
.hero + .contents .top-bloc{
  grid-template-rows: 25rem auto;
}



.top-bloc .desc{
  padding-bottom:10rem;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
}
.top-bloc > h2,
.top-bloc .desc > p{
  text-shadow: 0 0 2px;
  color: #f9d600;
}
.top-bloc > h2{
  font-weight: 400;
  text-transform: lowercase;
  font-size: 7rem;
  line-height: 1.1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
html[lang="ja"] .top-bloc > h2{
  font-weight: 700;
  letter-spacing:-3px;
}


.top-bloc > h2 rt{
  font-weight:400;
  font-size:30%;
  letter-spacing:-0.2rem;
}



.top-bloc .desc > p{
  font-weight: 900;
  margin-bottom: 0;
  word-break: keep-all;
  font-size: 3.2rem;
  text-align: center;
  line-height: 2.3;
  letter-spacing: 0.05rem;
}
html[lang="ja"] .top-bloc .desc > p{
  font-weight: 700;
}


.top-bloc .desc > p strong{
  color: #f9d600;
  font-weight: inherit;
  display: inline-block;
  line-height:1;
  font-size: 125%;
}
.top-bloc .desc > p strong small{
  font-weight: 400;
  font-size: 80%;
}

/* top about section */
#about{
  background-color: #00a850;
}
#about h2{
  color: #f9d600;
}
#about p{
  color: #026236;
}
#about strong{
  color: #f9d600;
  font-weight: inherit;
  display: inline-block;
  line-height:1;
  font-size: 125%;
}

#codes{
  background:#2e6d99;
}

#articles{
  background:teal;
  background:tomato;
  background:#e45c43;
}


.global-footer{
  height:80px;
  background:#160c0c; 
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.global-footer p{
  color:#fff;
}



ul{
  list-style:none;
  margin:0;
  padding:0;
}
ul li{
  margin-bottom:15px;
}
ul li a{
  color:black;
}
hr{
  width:100%;
}